[submodule "include"]
	path = include
	url = https://github.com/talkpython/100daysofcode-with-python-course.git
[submodule "pybites_100DaysOfCode"]
	path = pybites_100DaysOfCode
	url = git@github.com:pybites/100DaysOfCode.git
